<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2> All us </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt quos facere officiis maiores eligendi, sunt, quaerat aperiam tenetur deleniti non dolore. Architecto saepe, nesciunt alias dolorem atque doloremque porro libero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quaerat harum voluptatem placeat sit aspernatur quos repellendus nam voluptate dolorem sunt cum culpa, excepturi eos dolore animi ipsa numquam ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore soluta in, veritatis possimus numquam incidunt quia voluptatem recusandae cum repellendus praesentium quo nihil reiciendis quam! Saepe voluptate alias eligendi in?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>